In [19]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.nn.functional as F
from sklearn.model_selection import train_test_split

In [20]:
#utilizado para calcular distancias
import math
raioDaTerra   =  6371

In [21]:
def converterGrausParaRad(numero):
    rad = (numero/180)*math.pi
    return rad

In [22]:
def calcularDistancia (lat_ref,lon_ref, lat_posto, lon_posto):
  distancia   = raioDaTerra * math.acos( 
      math.cos( converterGrausParaRad(lat_ref) )
    * math.cos( converterGrausParaRad(lat_posto) ) 
    * math.cos( converterGrausParaRad(lon_ref ) - converterGrausParaRad(lon_posto) )
    + math.sin( converterGrausParaRad(lat_ref) ) 
    * math.sin( converterGrausParaRad(lat_posto) )
  )
  return distancia

In [23]:
""" 
Em Python, arrays são chamados de Listas.
Podemos usar uma função do Python para ordenar os valores de distância em ordem
cresente. Desta forma, a função menor irá funcionar independente da quantidade
de distâncias que passamos.
"""
def menor(listaDePostos):
  # print("LISTA DE POSTOS",listaDePostos)
  auxiliar    = listaDePostos[:]
  auxiliar.sort()               #Ordena de forma crescente
  menorValor  = auxiliar[0]
  #return [(n, listaDePostos[n]) for n, x in enumerate(listaDePostos) if x==menorValor]
  indiceValor = listaDePostos.index(menorValor)
  idByIndice  = indiceValor + 1
  #print("LISTA AUXILIAR", auxiliar)
  return (idByIndice)
          #, menorValor)

In [24]:
#FUNCAO PARA CALCULAR A DISTANCIA DO POSTO PRE PROCESSA CADA LINHA DO CSV QUE FOI IDENTIFICADA COMO ABASTECIDO
#ELA PEGA A LATITUDE E LONGITUDE E JOGA NA FUNCAO CALCULAR DISTANCIA ONDE RETORNA UM VALOR
#APOS ISSO É PASSADO UMA LISTA PARA A FUNCAO DE ORDENACAO DESSES VALORES ONDE O PRIMEIRO VALOR É O POSTO MAIS PROXIMO
#É PEGO O INDICE ONDE É O MESMO QUE A ID DO POSTO DO CSV E PREENCHO O CAMPO ID POSTO EM INFORMACOES_CARROS
#CALCULO DA FUNCAO FOI PEGO NA INTERNET CHAMA-SE FORMULA DE HAVERSINE
def calcularposto(latitude_ref,longitude_ref):
  distancia1  = calcularDistancia(latitude_ref, longitude_ref, -21.79143, -46.56805)    #posto 1 da planiha PostoEletricaNovacar
  distancia2  = calcularDistancia(latitude_ref, longitude_ref, -21.78646, -46.57236)    #posto 2 da planiha PostoFepasa
  distancia3  = calcularDistancia(latitude_ref, longitude_ref, -21.79900, -46.59849)    #posto 3 da planiha PostoPUCMinasPocosdeCaldas
  distancia4  = calcularDistancia(latitude_ref, longitude_ref, -21.83674, -46.55918)    #posto 4 da planiha PostoIFPocosdeCaldas
  distancia5  = calcularDistancia(latitude_ref, longitude_ref, -21.7908093,-46.5498371) #posto 5 da planilha Posto top
  distancia6  = calcularDistancia(latitude_ref, longitude_ref, -21.795591,-46.5513821)  #posto 6 da planilha Ponto Uau
  distancia7  = calcularDistancia(latitude_ref, longitude_ref, -21.8102542,-46.5441723) #posto 7 da planilha Posto Parque
  distancia8  = calcularDistancia(latitude_ref, longitude_ref, -21.8069073,-46.5796204) #posto 8 da planilha Posto Morumbi
  distancia9  = calcularDistancia(latitude_ref, longitude_ref, -21.8018071,-46.5715523) #posto 9 da planilha Posto Sta Angela
  distancia10 = calcularDistancia(latitude_ref, longitude_ref, -21.7983916,-46.5357675) #posto 10 da planilha Posto Dom Bosco	            
  distancia11 = calcularDistancia(latitude_ref, longitude_ref, -21.7758277,-46.6034023) #posto 11 da planilha Posto Shop                
  distancia12 = calcularDistancia(latitude_ref, longitude_ref, -21.7553693,-46.6076978) #posto 12 da planilha Posto Vale das Antas
  distancia13 = calcularDistancia(latitude_ref, longitude_ref, -21.801942,-46.5206)     #posto 13 da planilha Posto Estancia        
  distancia14 = calcularDistancia(latitude_ref, longitude_ref, -21.8067234,-46.5074679) #posto 14 da planilha Posto Pinheiros
  distancia15 = calcularDistancia(latitude_ref, longitude_ref, -21.8236759,-46.5299395) #posto 15 da planilha Posto Contorno
  distancia16 = calcularDistancia(latitude_ref, longitude_ref, -21.8379415,-46.5752329) #posto 16 da planilha Posto Kenedy	              
  distancia17 = calcularDistancia(latitude_ref, longitude_ref, -21.7797745,-46.6313701) #posto 17 da planilha Posto Bortolan
  distancia18 = calcularDistancia(latitude_ref, longitude_ref, -21.7889947,-46.6405133) #posto 18 da planilha Posto Chacara
  distancia19 = calcularDistancia(latitude_ref, longitude_ref, -21.8408097,-46.6771472) #posto 19 da planilha Posto Marco	                
  distancia20 = calcularDistancia(latitude_ref, longitude_ref, -21.7657759,-46.5225668) #posto 20 da planilha Posto Primavera
  distancia21 = calcularDistancia(latitude_ref, longitude_ref, -21.7812984,-46.4945621) #posto 21 da planilha Posto PC Estancia
  distancia22 = calcularDistancia(latitude_ref, longitude_ref, -21.8299229,-46.4513139) #posto 22 da planilha Posto Laranjeiras
  distancia23 = calcularDistancia(latitude_ref, longitude_ref, -21.7986392,-46.4538438) #posto 23 da planilha Posto Morada            
  distancia24 = calcularDistancia(latitude_ref, longitude_ref, -21.8196195,-46.5958688) #posto 24 da planilha Posto Europa
  distancia25 = calcularDistancia(latitude_ref, longitude_ref, -21.8499213,-46.5711072) #posto 25 da planilha Posto Nacoes
  #return print(distancia1,distancia2,distancia3,distancia4 )
  return menor([distancia1,distancia2,distancia3,distancia4,distancia5,distancia6,distancia7,distancia8,distancia9,distancia10,distancia11,distancia12,distancia13,distancia14,distancia15,distancia16,distancia17,distancia18,distancia19,distancia20,distancia21,distancia22,distancia23,distancia24,distancia25]) # Passando lista de postos como argumento

In [25]:
carros = pd.read_csv(
    "/content/informacoes_carro.csv",dtype={"id":int,"Latitude":float,"Longitude":float,"Charge":int,"veiculos_eletricos_id":object },
                                         #   "created_at","updated_at","Button","Latitude","Longitude","Height","Year","Month","Day","Hour","Minute","Second","Hundredth","Charge","Voltage","Current","Speed","Odometer","break_pedal","gas_pedal","Ax","Ay","Az","Gx","Gy","Gz","veiculos_eletricos_id"]]
    sep=',')

In [26]:
carrosfiltrados = carros[['id','veiculos_eletricos_id','Latitude','Longitude','Charge']].dropna().copy()

In [27]:
dfcarros=pd.DataFrame(carrosfiltrados )
dfcarros['abastecido'] = 0
dfcarros[['abastecido']] = dfcarros[['abastecido']].apply(pd.to_numeric )
dfcarros['abastecido'] = np.where((np.round(dfcarros['Latitude'],decimals=3) == np.round(dfcarros['Latitude'].shift(1),decimals=3)) & (np.round(dfcarros['Longitude'],decimals=3) == np.round(dfcarros['Longitude'].shift(1),decimals=3)) & (dfcarros['Charge'] > dfcarros['Charge'].mul(1.05).shift(1)), 1, 0)

In [28]:
pd.set_option('display.max_rows', 1000)
dfcarros[dfcarros['abastecido'] == 1 ]
dfcarrospostos=dfcarros[dfcarros['abastecido'] == 1]
###SELECIONANDO SOMENTE OS ABASTECIDOS COPIANDO PARA UM OUTRO DATAFRAME E APLICANDO A FUNCAO PARA PRE PROCESSAR A IDPOSTO##########
dfcarrosabastecidos = dfcarros[dfcarros['abastecido'] == 1]
for index, x in dfcarrospostos.iterrows():
  latitude_ref  = x['Latitude']
  longitude_ref = x['Longitude']
  posto = calcularposto(latitude_ref,longitude_ref)
  dfcarrospostos.at[index,'idposto', ]=posto
print(dfcarrospostos)
#dfcarrospostos.to_csv("abastecidos.csv")
dfcarrospostos.idposto = dfcarrospostos.idposto.astype(str)

        id veiculos_eletricos_id  Latitude  ...  Charge  abastecido  idposto
343    353                     1 -21.79152  ...      29           1      1.0
438    448                     1 -21.79145  ...      91           1      1.0
445    455                     1 -21.79145  ...      91           1      1.0
453    463                     1 -21.79145  ...      91           1      1.0
462    472                     1 -21.79145  ...      91           1      1.0
472    482                     1 -21.79145  ...      91           1      1.0
483    493                     1 -21.79145  ...      91           1      1.0
495    505                     1 -21.79145  ...      91           1      1.0
508    518                     1 -21.79145  ...      91           1      1.0
522    532                     1 -21.79145  ...      91           1      1.0
537    547                     1 -21.79145  ...      91           1      1.0
553    563                     1 -21.79145  ...      91           1      1.0
570    580                     1 -21.79145  ...      91           1      1.0
582    592                     1 -21.79145  ...      91           1      1.0
601    611                     1 -21.79145  ...      91           1      1.0
619    629                     1 -21.79145  ...      91           1      1.0
637    647                     1 -21.79145  ...      91           1      1.0
659    669                     1 -21.79145  ...      91           1      1.0
676    686                     1 -21.79145  ...      91           1      1.0
700    710                     1 -21.79145  ...      91           1      1.0
707    717                     1 -21.79145  ...      91           1      1.0
733    743                     1 -21.79145  ...      91           1      1.0
760    770                     1 -21.79145  ...      91           1      1.0
788    798                     1 -21.79145  ...      91           1      1.0
817    827                     1 -21.79145  ...      91           1      1.0
846    856                     1 -21.79145  ...      91           1      1.0
876    886                     1 -21.79145  ...      91           1      1.0
908    918                     1 -21.79145  ...      91           1      1.0
941    951                     1 -21.79145  ...      91           1      1.0
975    985                     1 -21.79145  ...      91           1      1.0
1010  1020                     1 -21.79145  ...      91           1      1.0
1046  1056                     1 -21.79145  ...      91           1      1.0
1076  1086                     1 -21.79291  ...      88           1      1.0
1083  1093                     1 -21.79145  ...      91           1      1.0
1113  1123                     1 -21.79291  ...      88           1      1.0
1121  1131                     1 -21.79145  ...      91           1      1.0
1151  1161                     1 -21.79291  ...      88           1      1.0
1160  1170                     1 -21.79145  ...      91           1      1.0
1190  1200                     1 -21.79291  ...      88           1      1.0
1200  1210                     1 -21.79145  ...      91           1      1.0
1230  1240                     1 -21.79291  ...      88           1      1.0
1241  1251                     1 -21.79145  ...      91           1      1.0
1271  1281                     1 -21.79291  ...      88           1      1.0
1283  1293                     1 -21.79145  ...      91           1      1.0
1313  1323                     1 -21.79291  ...      88           1      1.0
1326  1336                     1 -21.79145  ...      91           1      1.0
1356  1366                     1 -21.79291  ...      88           1      1.0
1370  1380                     1 -21.79145  ...      91           1      1.0
1400  1410                     1 -21.79291  ...      88           1      1.0
1415  1425                     1 -21.79145  ...      91           1      1.0
1445  1455                     1 -21.79291  ...      88           1      1.0
1461  1471                     1 -21.79145  ...      91           1      1.0
1491  1501                     1 -21.79291  ...      88           1      1.0
1508  1518                     1 -21.79145  ...      91           1      1.0
1538  1548                     1 -21.79291  ...      88           1      1.0
1556  1566                     1 -21.79145  ...      91           1      1.0
1586  1596                     1 -21.79291  ...      88           1      1.0
1605  1615                     1 -21.79145  ...      91           1      1.0
1635  1645                     1 -21.79291  ...      88           1      1.0
1655  1665                     1 -21.79145  ...      91           1      1.0
1685  1695                     1 -21.79291  ...      88           1      1.0
1706  1716                     1 -21.79145  ...      91           1      1.0
1736  1746                     1 -21.79291  ...      88           1      1.0
1758  1768                     1 -21.79145  ...      91           1      1.0
1788  1798                     1 -21.79291  ...      88           1      1.0
1811  1821                     1 -21.79145  ...      91           1      1.0
1841  1851                     1 -21.79291  ...      88           1      1.0
1853  1863                     1 -21.79145  ...      91           1      1.0
1883  1893                     1 -21.79291  ...      88           1      1.0
1908  1918                     1 -21.79145  ...      91           1      1.0
1938  1948                     1 -21.79291  ...      88           1      1.0
1962  1972                     1 -21.79145  ...      91           1      1.0
1992  2002                     1 -21.79291  ...      88           1      1.0
2016  2026                     1 -21.79145  ...      91           1      1.0
2046  2056                     1 -21.79291  ...      88           1      1.0
2070  2080                     1 -21.79145  ...      91           1      1.0
2100  2110                     1 -21.79291  ...      88           1      1.0
2125  2135                     1 -21.79145  ...      91           1      1.0
2155  2165                     1 -21.79291  ...      88           1      1.0
2225  2235                     1 -21.79167  ...      15           1      1.0
2230  2240                     1 -21.79163  ...      15           1      1.0
2261  2271                     1 -21.79166  ...      15           1      1.0
2263  2273                     1 -21.79167  ...      15           1      1.0
2268  2278                     1 -21.79163  ...      15           1      1.0
2300  2310                     1 -21.79166  ...      15           1      1.0
2302  2312                     1 -21.79167  ...      15           1      1.0
2307  2317                     1 -21.79163  ...      15           1      1.0
2341  2351                     1 -21.79166  ...      15           1      1.0
2343  2353                     1 -21.79167  ...      15           1      1.0
2348  2358                     1 -21.79163  ...      15           1      1.0
2383  2393                     1 -21.79166  ...      15           1      1.0
2385  2395                     1 -21.79167  ...      15           1      1.0
2390  2400                     1 -21.79163  ...      15           1      1.0
2426  2436                     1 -21.79166  ...      15           1      1.0
2428  2438                     1 -21.79167  ...      15           1      1.0
2433  2443                     1 -21.79163  ...      15           1      1.0
2470  2480                     1 -21.79166  ...      15           1      1.0
2472  2482                     1 -21.79167  ...      15           1      1.0
2477  2487                     1 -21.79163  ...      15           1      1.0
2515  2525                     1 -21.79166  ...      15           1      1.0
2517  2527                     1 -21.79167  ...      15           1      1.0
2522  2532                     1 -21.79163  ...      15           1      1.0
2561  2571                     1 -21.79166  ...      15           1      1.0
2563  2573                     1 -21.79167  ...      15           1      1.0
2568  2578                     1 -21.79163  ...      15           1      1.0
2971  2981                     1 -21.79297  ...      48           1      1.0
2979  2989                     1 -21.79146  ...      48           1      1.0
2981  2991                     1 -21.79146  ...      48           1      1.0
2986  2996                     1 -21.78700  ...      48           1      1.0
3027  3037                     1 -21.77213  ...      45           1     11.0
3246  3256                     1 -21.78344  ...      53           1      2.0
3264  3274                     1 -21.78494  ...      52           1      2.0
3269  3279                     1 -21.78494  ...      51           1      2.0
3280  3290                     2 -21.78494  ...      51           1      2.0
3283  3293                     2 -21.78494  ...      51           1      2.0
3286  3296                     2 -21.78494  ...      51           1      2.0
3289  3299                     2 -21.78494  ...      51           1      2.0
3292  3302                     2 -21.78494  ...      51           1      2.0
3295  3305                     2 -21.78494  ...      51           1      2.0
3298  3308                     2 -21.78494  ...      51           1      2.0
3301  3311                     2 -21.78494  ...      51           1      2.0
3304  3314                     2 -21.78494  ...      51           1      2.0
3307  3317                     3 -21.77213  ...      45           1     11.0
3310  3320                     3 -21.77213  ...      45           1     11.0
3313  3323                     3 -21.77213  ...      45           1     11.0
3316  3326                     3 -21.77213  ...      45           1     11.0
3319  3329                     3 -21.77213  ...      45           1     11.0
3322  3332                     3 -21.77213  ...      45           1     11.0
3325  3335                     3 -21.77213  ...      45           1     11.0
3328  3338                     3 -21.77213  ...      45           1     11.0
3331  3341                     3 -21.77213  ...      45           1     11.0
3334  3344                     3 -21.77213  ...      45           1     11.0
3337  3347                     3 -21.77213  ...      45           1     11.0
3340  3350                     3 -21.77213  ...      45           1     11.0
3343  3353                     3 -21.77213  ...      45           1     11.0
3346  3356                     3 -21.77213  ...      45           1     11.0
3349  3359                     3 -21.77213  ...      45           1     11.0
3352  3362                     3 -21.77213  ...      45           1     11.0
3355  3365                     3 -21.77213  ...      45           1     11.0
3358  3368                     3 -21.77213  ...      45           1     11.0
3361  3371                     3 -21.77213  ...      45           1     11.0
3364  3374                     3 -21.77213  ...      45           1     11.0
3367  3377                     3 -21.78494  ...      51           1      2.0
3370  3380                     3 -21.78494  ...      51           1      2.0
3373  3383                     3 -21.78494  ...      51           1      2.0

[145 rows x 7 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [29]:
# Lendo arquivo abastecidos.csv 
arq_csv = pd.read_csv('/content/abastecimentosimexc.csv')
arq_csv['idposto'] = arq_csv['idposto'].astype(int)

arq_csv.sample(6)

     veiculos_eletricos_id  idposto  avaliacao
143                     36       17          1
4                        1        5          4
3                        1        4          3
121                     30       15          1
39                       9       17          3
51                      13        3          4

In [30]:
# Obtendo os ID's dos carros (sem repetição)
ids_carros = arq_csv['veiculos_eletricos_id'] 
ids_carros = ids_carros.drop_duplicates()
ids_carros = ids_carros.tolist()            # ID's dos carros em lista

Criando nova coluna no csv para adicionar relação de afinidade de cada carro(motorista) com posto de gasolina

In [31]:
arq_csv["afinidade"] = 'NaN'
arq_csv.sample(6)

     veiculos_eletricos_id  idposto  avaliacao afinidade
44                      11       12          4       NaN
151                     38       20          4       NaN
6                        1        7          5       NaN
28                       6        4          3       NaN
0                        1        1          4       NaN
119                     29       13          1       NaN

Filtrando a tabela por carros para obter o valor de afinidade.

In [32]:
for carro in ids_carros:
  filtro = arq_csv['veiculos_eletricos_id'] == carro
  posições = np.flatnonzero(filtro)
  tabela_filtrada = arq_csv.iloc[posições]

  tamanho_total = tabela_filtrada.shape[0] # Total de registros de um carro

  """
    A partir deste ponto tenho uma tabela para cada carro.
    Agora posso filtrar em cada tabela de carro os postos de
    gasolina abastecidos por ele e calcular sua afinidade.
  """

  ids_postos = tabela_filtrada['idposto']
  ids_postos = ids_postos.drop_duplicates()
  ids_postos = ids_postos.tolist()            # ID's de postos abastecidas por um carro

  """
    Para cada posto, irei criar uma tabela filtrada para obter a quantidade de
    vezes que um carro abasteceu neste posto.
  """
  
  for posto in ids_postos:
    filtro = tabela_filtrada['idposto'] == posto
    posições = np.flatnonzero(filtro)
    tabela_filtrada_por_posto = tabela_filtrada.iloc[posições]

    ocorrencias = tabela_filtrada_por_posto.shape[0] # Ocorrências de abastecimento em determinado posto

    print("O carro {} abasteceu no posto {}, um total de {} veze(s)"
      .format(carro,posto,ocorrencias),end='')

    """
      A partir deste ponto posso calcular relação de afinidade 
      de cada carro com um posto abastecido
    """
    
    afinidade = ocorrencias/float(tamanho_total) 
    print('[ {}% ]'.format(int(afinidade*100)))

    """
      Agora basta adicionar ao csv, o valor de afinidade encontrado.
    """

    arq_csv.loc[arq_csv.idposto == posto,'afinidade'] = afinidade
    arq_csv['afinidade'] = arq_csv['afinidade'].astype(float)

O carro 1 abasteceu no posto 1, um total de 1 veze(s)[ 12% ]
O carro 1 abasteceu no posto 2, um total de 1 veze(s)[ 12% ]
O carro 1 abasteceu no posto 3, um total de 1 veze(s)[ 12% ]
O carro 1 abasteceu no posto 4, um total de 1 veze(s)[ 12% ]
O carro 1 abasteceu no posto 5, um total de 1 veze(s)[ 12% ]
O carro 1 abasteceu no posto 6, um total de 1 veze(s)[ 12% ]
O carro 1 abasteceu no posto 7, um total de 1 veze(s)[ 12% ]
O carro 1 abasteceu no posto 8, um total de 1 veze(s)[ 12% ]
O carro 2 abasteceu no posto 9, um total de 1 veze(s)[ 25% ]
O carro 2 abasteceu no posto 8, um total de 1 veze(s)[ 25% ]
O carro 2 abasteceu no posto 7, um total de 1 veze(s)[ 25% ]
O carro 2 abasteceu no posto 10, um total de 1 veze(s)[ 25% ]
O carro 3 abasteceu no posto 11, um total de 1 veze(s)[ 25% ]
O carro 3 abasteceu no posto 1, um total de 1 veze(s)[ 25% ]
O carro 3 abasteceu no posto 2, um total de 1 veze(s)[ 25% ]
O carro 3 abasteceu no posto 4, um total de 1 veze(s)[ 25% ]
O carro 4 abasteceu no posto 10, um total de 1 veze(s)[ 20% ]
O carro 4 abasteceu no posto 11, um total de 1 veze(s)[ 20% ]
O carro 4 abasteceu no posto 12, um total de 1 veze(s)[ 20% ]
O carro 4 abasteceu no posto 14, um total de 1 veze(s)[ 20% ]
O carro 4 abasteceu no posto 13, um total de 1 veze(s)[ 20% ]
O carro 5 abasteceu no posto 9, um total de 1 veze(s)[ 25% ]
O carro 5 abasteceu no posto 10, um total de 1 veze(s)[ 25% ]
O carro 5 abasteceu no posto 12, um total de 1 veze(s)[ 25% ]
O carro 5 abasteceu no posto 2, um total de 1 veze(s)[ 25% ]
O carro 6 abasteceu no posto 1, um total de 1 veze(s)[ 20% ]
O carro 6 abasteceu no posto 2, um total de 1 veze(s)[ 20% ]
O carro 6 abasteceu no posto 3, um total de 1 veze(s)[ 20% ]
O carro 6 abasteceu no posto 4, um total de 1 veze(s)[ 20% ]
O carro 6 abasteceu no posto 5, um total de 1 veze(s)[ 20% ]
O carro 7 abasteceu no posto 20, um total de 1 veze(s)[ 33% ]
O carro 7 abasteceu no posto 21, um total de 1 veze(s)[ 33% ]
O carro 7 abasteceu no posto 22, um total de 1 veze(s)[ 33% ]
O carro 8 abasteceu no posto 23, um total de 1 veze(s)[ 20% ]
O carro 8 abasteceu no posto 24, um total de 1 veze(s)[ 20% ]
O carro 8 abasteceu no posto 21, um total de 1 veze(s)[ 20% ]
O carro 8 abasteceu no posto 22, um total de 1 veze(s)[ 20% ]
O carro 8 abasteceu no posto 19, um total de 1 veze(s)[ 20% ]
O carro 9 abasteceu no posto 18, um total de 1 veze(s)[ 50% ]
O carro 9 abasteceu no posto 17, um total de 1 veze(s)[ 50% ]
O carro 10 abasteceu no posto 16, um total de 1 veze(s)[ 33% ]
O carro 10 abasteceu no posto 15, um total de 1 veze(s)[ 33% ]
O carro 10 abasteceu no posto 14, um total de 1 veze(s)[ 33% ]
O carro 11 abasteceu no posto 13, um total de 1 veze(s)[ 25% ]
O carro 11 abasteceu no posto 12, um total de 1 veze(s)[ 25% ]
O carro 11 abasteceu no posto 11, um total de 1 veze(s)[ 25% ]
O carro 11 abasteceu no posto 10, um total de 1 veze(s)[ 25% ]
O carro 12 abasteceu no posto 7, um total de 1 veze(s)[ 50% ]
O carro 12 abasteceu no posto 6, um total de 1 veze(s)[ 50% ]
O carro 13 abasteceu no posto 5, um total de 1 veze(s)[ 33% ]
O carro 13 abasteceu no posto 4, um total de 1 veze(s)[ 33% ]
O carro 13 abasteceu no posto 3, um total de 1 veze(s)[ 33% ]
O carro 14 abasteceu no posto 4, um total de 1 veze(s)[ 33% ]
O carro 14 abasteceu no posto 5, um total de 1 veze(s)[ 33% ]
O carro 14 abasteceu no posto 6, um total de 1 veze(s)[ 33% ]
O carro 15 abasteceu no posto 7, um total de 1 veze(s)[ 25% ]
O carro 15 abasteceu no posto 6, um total de 1 veze(s)[ 25% ]
O carro 15 abasteceu no posto 4, um total de 1 veze(s)[ 25% ]
O carro 15 abasteceu no posto 3, um total de 1 veze(s)[ 25% ]
O carro 16 abasteceu no posto 2, um total de 1 veze(s)[ 20% ]
O carro 16 abasteceu no posto 1, um total de 1 veze(s)[ 20% ]
O carro 16 abasteceu no posto 6, um total de 1 veze(s)[ 20% ]
O carro 16 abasteceu no posto 7, um total de 1 veze(s)[ 20% ]
O carro 16 abasteceu no posto 9, um total de 1 veze(s)[ 20% ]
O carro 17 abasteceu no posto 12, um total de 1 veze(s)[ 25% ]
O carro 17 abasteceu no posto 11, um total de 1 veze(s)[ 25% ]
O carro 17 abasteceu no posto 14, um total de 1 veze(s)[ 25% ]
O carro 17 abasteceu no posto 15, um total de 1 veze(s)[ 25% ]
O carro 18 abasteceu no posto 16, um total de 1 veze(s)[ 25% ]
O carro 18 abasteceu no posto 17, um total de 1 veze(s)[ 25% ]
O carro 18 abasteceu no posto 18, um total de 1 veze(s)[ 25% ]
O carro 18 abasteceu no posto 12, um total de 1 veze(s)[ 25% ]
O carro 19 abasteceu no posto 15, um total de 1 veze(s)[ 33% ]
O carro 19 abasteceu no posto 21, um total de 1 veze(s)[ 33% ]
O carro 19 abasteceu no posto 22, um total de 1 veze(s)[ 33% ]
O carro 20 abasteceu no posto 23, um total de 1 veze(s)[ 25% ]
O carro 20 abasteceu no posto 21, um total de 1 veze(s)[ 25% ]
O carro 20 abasteceu no posto 17, um total de 1 veze(s)[ 25% ]
O carro 20 abasteceu no posto 24, um total de 1 veze(s)[ 25% ]
O carro 21 abasteceu no posto 22, um total de 1 veze(s)[ 25% ]
O carro 21 abasteceu no posto 21, um total de 1 veze(s)[ 25% ]
O carro 21 abasteceu no posto 24, um total de 1 veze(s)[ 25% ]
O carro 21 abasteceu no posto 23, um total de 1 veze(s)[ 25% ]
O carro 22 abasteceu no posto 15, um total de 1 veze(s)[ 20% ]
O carro 22 abasteceu no posto 14, um total de 1 veze(s)[ 20% ]
O carro 22 abasteceu no posto 13, um total de 1 veze(s)[ 20% ]
O carro 22 abasteceu no posto 17, um total de 1 veze(s)[ 20% ]
O carro 22 abasteceu no posto 18, um total de 1 veze(s)[ 20% ]
O carro 23 abasteceu no posto 16, um total de 1 veze(s)[ 20% ]
O carro 23 abasteceu no posto 15, um total de 1 veze(s)[ 20% ]
O carro 23 abasteceu no posto 14, um total de 1 veze(s)[ 20% ]
O carro 23 abasteceu no posto 12, um total de 1 veze(s)[ 20% ]
O carro 23 abasteceu no posto 3, um total de 1 veze(s)[ 20% ]
O carro 24 abasteceu no posto 4, um total de 1 veze(s)[ 20% ]
O carro 24 abasteceu no posto 5, um total de 1 veze(s)[ 20% ]
O carro 24 abasteceu no posto 6, um total de 1 veze(s)[ 20% ]
O carro 24 abasteceu no posto 7, um total de 1 veze(s)[ 20% ]
O carro 24 abasteceu no posto 8, um total de 1 veze(s)[ 20% ]
O carro 25 abasteceu no posto 9, um total de 1 veze(s)[ 20% ]
O carro 25 abasteceu no posto 5, um total de 1 veze(s)[ 20% ]
O carro 25 abasteceu no posto 4, um total de 1 veze(s)[ 20% ]
O carro 25 abasteceu no posto 3, um total de 1 veze(s)[ 20% ]
O carro 25 abasteceu no posto 2, um total de 1 veze(s)[ 20% ]
O carro 26 abasteceu no posto 1, um total de 1 veze(s)[ 33% ]
O carro 26 abasteceu no posto 3, um total de 1 veze(s)[ 33% ]
O carro 26 abasteceu no posto 4, um total de 1 veze(s)[ 33% ]
O carro 27 abasteceu no posto 5, um total de 1 veze(s)[ 16% ]
O carro 27 abasteceu no posto 6, um total de 1 veze(s)[ 16% ]
O carro 27 abasteceu no posto 7, um total de 1 veze(s)[ 16% ]
O carro 27 abasteceu no posto 8, um total de 1 veze(s)[ 16% ]
O carro 27 abasteceu no posto 9, um total de 1 veze(s)[ 16% ]
O carro 27 abasteceu no posto 12, um total de 1 veze(s)[ 16% ]
O carro 28 abasteceu no posto 7, um total de 1 veze(s)[ 16% ]
O carro 28 abasteceu no posto 6, um total de 1 veze(s)[ 16% ]
O carro 28 abasteceu no posto 5, um total de 1 veze(s)[ 16% ]
O carro 28 abasteceu no posto 4, um total de 1 veze(s)[ 16% ]
O carro 28 abasteceu no posto 3, um total de 1 veze(s)[ 16% ]
O carro 28 abasteceu no posto 2, um total de 1 veze(s)[ 16% ]
O carro 29 abasteceu no posto 12, um total de 1 veze(s)[ 33% ]
O carro 29 abasteceu no posto 13, um total de 1 veze(s)[ 33% ]
O carro 29 abasteceu no posto 14, um total de 1 veze(s)[ 33% ]
O carro 30 abasteceu no posto 15, um total de 1 veze(s)[ 33% ]
O carro 30 abasteceu no posto 16, um total de 1 veze(s)[ 33% ]
O carro 30 abasteceu no posto 17, um total de 1 veze(s)[ 33% ]
O carro 31 abasteceu no posto 17, um total de 1 veze(s)[ 20% ]
O carro 31 abasteceu no posto 18, um total de 1 veze(s)[ 20% ]
O carro 31 abasteceu no posto 14, um total de 1 veze(s)[ 20% ]
O carro 31 abasteceu no posto 1, um total de 1 veze(s)[ 20% ]
O carro 31 abasteceu no posto 2, um total de 1 veze(s)[ 20% ]
O carro 32 abasteceu no posto 3, um total de 1 veze(s)[ 25% ]
O carro 32 abasteceu no posto 4, um total de 1 veze(s)[ 25% ]
O carro 32 abasteceu no posto 5, um total de 1 veze(s)[ 25% ]
O carro 32 abasteceu no posto 6, um total de 1 veze(s)[ 25% ]
O carro 33 abasteceu no posto 7, um total de 1 veze(s)[ 33% ]
O carro 33 abasteceu no posto 8, um total de 1 veze(s)[ 33% ]
O carro 33 abasteceu no posto 9, um total de 1 veze(s)[ 33% ]
O carro 34 abasteceu no posto 6, um total de 1 veze(s)[ 33% ]
O carro 34 abasteceu no posto 5, um total de 1 veze(s)[ 33% ]
O carro 34 abasteceu no posto 13, um total de 1 veze(s)[ 33% ]
O carro 35 abasteceu no posto 12, um total de 1 veze(s)[ 33% ]
O carro 35 abasteceu no posto 14, um total de 1 veze(s)[ 33% ]
O carro 35 abasteceu no posto 15, um total de 1 veze(s)[ 33% ]
O carro 36 abasteceu no posto 16, um total de 1 veze(s)[ 25% ]
O carro 36 abasteceu no posto 17, um total de 1 veze(s)[ 25% ]
O carro 36 abasteceu no posto 12, um total de 1 veze(s)[ 25% ]
O carro 36 abasteceu no posto 11, um total de 1 veze(s)[ 25% ]
O carro 37 abasteceu no posto 14, um total de 1 veze(s)[ 33% ]
O carro 37 abasteceu no posto 15, um total de 1 veze(s)[ 33% ]
O carro 37 abasteceu no posto 16, um total de 1 veze(s)[ 33% ]
O carro 38 abasteceu no posto 17, um total de 1 veze(s)[ 33% ]
O carro 38 abasteceu no posto 18, um total de 1 veze(s)[ 33% ]
O carro 38 abasteceu no posto 20, um total de 1 veze(s)[ 33% ]
O carro 39 abasteceu no posto 21, um total de 2 veze(s)[ 50% ]
O carro 39 abasteceu no posto 23, um total de 2 veze(s)[ 50% ]
O carro 40 abasteceu no posto 24, um total de 1 veze(s)[ 33% ]
O carro 40 abasteceu no posto 20, um total de 1 veze(s)[ 33% ]
O carro 40 abasteceu no posto 21, um total de 1 veze(s)[ 33% ]

Pronto, agora tenho a afinidade incluida no meu CSV para começar a implementar o código de aprendizagem.

In [33]:
arq_csv.sample(6)

     veiculos_eletricos_id  idposto  avaliacao  afinidade
142                     36       16          3   0.333333
41                      10       15          2   0.333333
155                     39       23          3   0.500000
147                     37       15          2   0.333333
152                     39       21          4   0.333333
1                        1        2          4   0.200000

In [34]:
class MF(nn.Module):
    def __init__(self, num_users, num_items,emb_size=100000):
        super(MF, self).__init__()
        self.user_emb = nn.Embedding(emb_size ,num_users )
        self.item_emb = nn.Embedding(emb_size ,num_users )
        print(self.user_emb)
        print(self.item_emb)
        # initializing our matrices with a positive number generally will yield better results
        self.user_emb.weight.data.uniform_(0, 0.5)
        self.item_emb.weight.data.uniform_(0, 0.5)
        
    def forward(self, u, v):
        u = self.user_emb(u)
        v = self.item_emb(v)
        return (u*v).sum(1)  # taking the dot product

In [35]:
users_ratings = arq_csv.copy()
#game_ratings = game_ratings.drop(columns=['id', 'Latitude','Longitude','Charge','abastecido','afinidade'], axis=1)
users_ratings.reset_index(drop=True)

     veiculos_eletricos_id  idposto  avaliacao  afinidade
0                        1        1          4   0.200000
1                        1        2          4   0.200000
2                        1        3          3   0.250000
3                        1        4          3   0.250000
4                        1        5          4   0.333333
5                        1        6          4   0.333333
6                        1        7          5   0.333333
7                        1        8          5   0.333333
8                        2        9          4   0.333333
9                        2        8          3   0.333333
10                       2        7          2   0.333333
11                       2       10          1   0.250000
12                       3       11          2   0.250000
13                       3        1          1   0.200000
14                       3        2          3   0.200000
15                       3        4          4   0.250000
16                       4       10          5   0.250000
17                       4       11          5   0.250000
18                       4       12          4   0.250000
19                       4       14          3   0.333333
20                       4       13          4   0.333333
21                       5        9          3   0.333333
22                       5       10          3   0.250000
23                       5       12          2   0.250000
24                       5        2          1   0.200000
25                       6        1          1   0.200000
26                       6        2          1   0.200000
27                       6        3          2   0.250000
28                       6        4          3   0.250000
29                       6        5          4   0.333333
30                       7       20          4   0.333333
31                       7       21          4   0.333333
32                       7       22          5   0.250000
33                       8       23          5   0.500000
34                       8       24          5   0.333333
35                       8       21          4   0.333333
36                       8       22          4   0.250000
37                       8       19          3   0.200000
38                       9       18          3   0.333333
39                       9       17          3   0.333333
40                      10       16          2   0.333333
41                      10       15          2   0.333333
42                      10       14          3   0.333333
43                      11       13          3   0.333333
44                      11       12          4   0.250000
45                      11       11          4   0.250000
46                      11       10          4   0.250000
47                      12        7          5   0.333333
48                      12        6          5   0.333333
49                      13        5          5   0.333333
50                      13        4          5   0.250000
51                      13        3          4   0.250000
52                      14        4          3   0.250000
53                      14        5          3   0.333333
54                      14        6          4   0.333333
55                      15        7          4   0.333333
56                      15        6          5   0.333333
57                      15        4          5   0.250000
58                      15        3          4   0.250000
59                      16        2          4   0.200000
60                      16        1          4   0.200000
61                      16        6          3   0.333333
62                      16        7          4   0.333333
63                      16        9          4   0.333333
64                      17       12          4   0.250000
65                      17       11          4   0.250000
66                      17       14          3   0.333333
67                      17       15          3   0.333333
68                      18       16          3   0.333333
69                      18       17          1   0.333333
70                      18       18          2   0.333333
71                      18       12          2   0.250000
72                      19       15          1   0.333333
73                      19       21          1   0.333333
74                      19       22          1   0.250000
75                      20       23          2   0.500000
76                      20       21          3   0.333333
77                      20       17          4   0.333333
78                      20       24          5   0.333333
79                      21       22          5   0.250000
80                      21       21          5   0.333333
81                      21       24          5   0.333333
82                      21       23          4   0.500000
83                      22       15          5   0.333333
84                      22       14          4   0.333333
85                      22       13          3   0.333333
86                      22       17          2   0.333333
87                      22       18          2   0.333333
88                      23       16          2   0.333333
89                      23       15          3   0.333333
90                      23       14          4   0.333333
91                      23       12          4   0.250000
92                      23        3          5   0.250000
93                      24        4          5   0.250000
94                      24        5          5   0.333333
95                      24        6          5   0.333333
96                      24        7          2   0.333333
97                      24        8          2   0.333333
98                      25        9          2   0.333333
99                      25        5          1   0.333333
100                     25        4          1   0.250000
101                     25        3          1   0.250000
102                     25        2          2   0.200000
103                     26        1          3   0.200000
104                     26        3          3   0.250000
105                     26        4          4   0.250000
106                     27        5          5   0.333333
107                     27        6          5   0.333333
108                     27        7          5   0.333333
109                     27        8          5   0.333333
110                     27        9          4   0.333333
111                     27       12          5   0.250000
112                     28        7          5   0.333333
113                     28        6          5   0.333333
114                     28        5          5   0.333333
115                     28        4          5   0.250000
116                     28        3          3   0.250000
117                     28        2          2   0.200000
118                     29       12          2   0.250000
119                     29       13          1   0.333333
120                     29       14          1   0.333333
121                     30       15          1   0.333333
122                     30       16          2   0.333333
123                     30       17          3   0.333333
124                     31       17          5   0.333333
125                     31       18          5   0.333333
126                     31       14          5   0.333333
127                     31        1          5   0.200000
128                     31        2          4   0.200000
129                     32        3          4   0.250000
130                     32        4          4   0.250000
131                     32        5          4   0.333333
132                     32        6          4   0.333333
133                     33        7          5   0.333333
134                     33        8          5   0.333333
135                     33        9          5   0.333333
136                     34        6          5   0.333333
137                     34        5          4   0.333333
138                     34       13          4   0.333333
139                     35       12          4   0.250000
140                     35       14          3   0.333333
141                     35       15          3   0.333333
142                     36       16          3   0.333333
143                     36       17          1   0.333333
144                     36       12          2   0.250000
145                     36       11          2   0.250000
146                     37       14          2   0.333333
147                     37       15          2   0.333333
148                     37       16          3   0.333333
149                     38       17          3   0.333333
150                     38       18          3   0.333333
151                     38       20          4   0.333333
152                     39       21          4   0.333333
153                     39       23          4   0.500000
154                     39       21          4   0.333333
155                     39       23          3   0.500000
156                     40       24          3   0.333333
157                     40       20          3   0.333333
158                     40       21          3   0.333333

In [36]:
num_users = len(users_ratings['veiculos_eletricos_id'].unique())
num_stations = len(users_ratings['idposto'].unique())
model = MF(num_users, num_stations, emb_size=100000)

Embedding(100000, 40)
Embedding(100000, 40)

In [37]:
train_df, valid_df = train_test_split(users_ratings, test_size=0.4)

# resetting indices to avoid indexing errors
train_df = train_df.reset_index(drop=True)
test_df = valid_df.reset_index(drop=True)
#print(train_df.max())

In [38]:
def train_epocs(model, epochs=10, lr=0.01, wd=0.0):
    optimizer = torch.optim.Adam(model.parameters(), lr=lr, weight_decay=wd)
    model.train()
    for i in range(epochs):

        usernames = torch.LongTensor(train_df.veiculos_eletricos_id.values)
        id_station = torch.LongTensor(train_df.idposto.values)
        ratings = torch.FloatTensor(train_df.avaliacao.values)
        y_hat = model(usernames, id_station)
        loss = F.mse_loss(y_hat, ratings)
        optimizer.zero_grad()  # reset gradient
        loss.backward()
        optimizer.step()
        print(loss.item())
    test(model)

In [39]:
def test(model):
    model.eval()
    user = torch.LongTensor(test_df.veiculos_eletricos_id.values)
    id_station = torch.LongTensor(test_df.idposto.values)
    ratings = torch.FloatTensor(test_df.avaliacao.values)
    y_hat = model(user, id_station)
    loss = F.mse_loss(y_hat, ratings)
    print("test loss %.3f " % loss.item())

In [40]:
train_epocs(model,epochs = 15, lr=  0.01)

2.4588606357574463
2.0454607009887695
1.6768656969070435
1.354921579360962
1.0805526971817017
0.853722333908081
0.6729278564453125
0.5349394679069519
0.43468737602233887
0.3654417395591736
0.3195924758911133
0.2896591126918793
0.2691011130809784
0.25283920764923096
0.23747767508029938
test loss 1.857

In [41]:
###prevsao modelo de postos array de postos####
user = torch.tensor([1])
station = torch.tensor(users_ratings['idposto'].unique().tolist())
predictions = model(user, station).tolist()
#print(predictions)

In [42]:
normalized_predictions = [i/max(predictions)*10 for i in predictions]
#print(normalized_predictions)

In [43]:
#ID MOTORISTA E POSICAO ATUAL
x=15
##### USANDO LAT E LONG ########   posto nacoes -21.8499213,-46.5711072
latitude_ref= -21.8452
longitude_ref= -46.5721
#posto = calcularposto(latitude_ref,longitude_ref)
#posto
existe= x in arq_csv['veiculos_eletricos_id'].values
if(existe == 1):
    ###MESMA COISA DA LINHA DE CIMA POREM JA MOSTRANDO A ID DO POSTO
 user_id =users_ratings[users_ratings['veiculos_eletricos_id'] == x]['veiculos_eletricos_id'].values[0]
 user = torch.tensor([user_id])
 station = torch.tensor(users_ratings['idposto'].unique().tolist())
 predictions = model(user, station)
 sort_by_indices = predictions.argsort()
 recommendations = users_ratings['idposto'].unique()[sort_by_indices][:10]
 print('Usuário ID:',x)
 print('Postos Recomendados por filtragem colaborativa ID:',list(recommendations))
 prox=calcularposto(latitude_ref,longitude_ref)
 print('Posto mais proximo é:', prox)
 dadosexcl = arq_csv.loc[arq_csv['veiculos_eletricos_id'] == x]
 posto= dadosexcl.iloc[dadosexcl.afinidade.argmax()]
 #afindade =dadosexcl[dadosexcl['idposto']['afinidade'].max()]
 print("Posto com maior afinidade:",posto.idposto )
else:
 print('Usuário ID:',x)
 print('Usuário sem histórico para recomendacao por filtragem colaborativa e por afinidade, será recomendado o posto mais próximo')
 prox=calcularposto(latitude_ref,longitude_ref)
 print('Posto mais proximo é:', prox)

Usuário ID: 15
Postos Recomendados por filtragem colaborativa ID: [19, 15, 2, 17, 18, 14, 11, 22, 3, 13]
Posto mais proximo é: 25
Posto com maior afinidade: 7.0